{extend name="public/base" /}
{block name="main-container"}
<div class="main-index">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">服务器信息</h2>
            <div class="layui-colla-content">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <td>RP.Admin 版本</td>
                        <td>1.00</td>
                    </tr>
                    <tr>
                        <td>服务器操作系统</td>
                        <td>{:php_uname('s')}</td>
                    </tr>
                    <tr>
                        <td>WEB运行环境</td>
                        <td>{:php_sapi_name()}</td>
                    </tr>
                    <tr>
                        <td>MySQL数据库版本</td>
                        <td>{$mysql_ver}</td>
                    </tr>
                    <tr>
                        <td>运行PHP版本</td>
                        <td>{:phpversion()}</td>
                    </tr>
                    <tr>
                        <td>上传大小限制</td>
                        <td>{:ini_get('upload_max_filesize')}</td>
                    </tr>
                    <tr>
                        <td>POST大小限制</td>
                        <td>{:ini_get('post_max_size')}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">系统信息</h2>
            <div class="layui-colla-content layui-show">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <td>系统名称</td>
                        <td>{$Think.config.name}</td>
                    </tr>
                    <tr>
                        <td>产品研发团队</td>
                        <td>{$Think.config.team}</td>
                    </tr>
                    <tr>
                        <td>项目地址</td>
                        <td>
                            <a target="_blank" href="{$Think.config.project}">{$Think.config.project}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>住址</td>
                        <td>
                            {$Think.config.company_address}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}

