.head{
    position:absolute;
    margin-top: 40px;
    left: 750px;
}
.layui-tab-card{
    width: 550px;
    height: 150px;
    position:absolute;
    margin-top: 200px;
}
.layui-tab-content{
    font-style: italic;
    font-size: 20px;
}