{extend name="public/base" /}
{block name="main-container"}
<link class="main-link">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">链接列表</li>
            <li>添加链接</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" id="link-list">
                {include file="link/list" /}
            </div>
            <div class="layui-tab-item">
                {include file="link/create" /}
            </div>
        </div>
    </div>
</link>
{/block}