<div id="menu-icon" class="m20">
    <ul class="icon_lists clearfix">
        <li>
            <i class="icon iconfont icon-member"></i>
            <div class="name">帮助中心</div>
            <div class="fontclass">.icon-member</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon01"></i>
            <div class="name">系统</div>
            <div class="fontclass">.icon-icon01</div>
        </li>

        <li>
            <i class="icon iconfont icon-home"></i>
            <div class="name">家</div>
            <div class="fontclass">.icon-home</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon6"></i>
            <div class="name">地图</div>
            <div class="fontclass">.icon-icon6</div>
        </li>

        <li>
            <i class="icon iconfont icon-content"></i>
            <div class="name">产品参数</div>
            <div class="fontclass">.icon-content</div>
        </li>

        <li>
            <i class="icon iconfont icon-sousuo"></i>
            <div class="name">搜索</div>
            <div class="fontclass">.icon-sousuo</div>
        </li>

        <li>
            <i class="icon iconfont icon-xinxi"></i>
            <div class="name">信息</div>
            <div class="fontclass">.icon-xinxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-sidebar"></i>
            <div class="name">三点</div>
            <div class="fontclass">.icon-sidebar</div>
        </li>

        <li>
            <i class="icon iconfont icon-mail"></i>
            <div class="name">邮箱</div>
            <div class="fontclass">.icon-mail</div>
        </li>

        <li>
            <i class="icon iconfont icon-svg32"></i>
            <div class="name">查看</div>
            <div class="fontclass">.icon-svg32</div>
        </li>

        <li>
            <i class="icon iconfont icon-sign"></i>
            <div class="name">签到</div>
            <div class="fontclass">.icon-sign</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-gkl"></i>
            <div class="name">内推管理</div>
            <div class="fontclass">.icon-icon-gkl</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-shgx"></i>
            <div class="name">关系表</div>
            <div class="fontclass">.icon-icon-shgx</div>
        </li>

        <li>
            <i class="icon iconfont icon-community"></i>
            <div class="name">社区</div>
            <div class="fontclass">.icon-community</div>
        </li>

        <li>
            <i class="icon iconfont icon-33485"></i>
            <div class="name">医疗</div>
            <div class="fontclass">.icon-33485</div>
        </li>

        <li>
            <i class="icon iconfont icon-mingdanchazhao"></i>
            <div class="name">名单查找</div>
            <div class="fontclass">.icon-mingdanchazhao</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-fx1"></i>
            <div class="name">分析</div>
            <div class="fontclass">.icon-icon-fx1</div>
        </li>

        <li>
            <i class="icon iconfont icon-chukujilu"></i>
            <div class="name">出库</div>
            <div class="fontclass">.icon-chukujilu</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-fx2"></i>
            <div class="name">性别</div>
            <div class="fontclass">.icon-icon-fx2</div>
        </li>

        <li>
            <i class="icon iconfont icon-zhuyuan"></i>
            <div class="name">住院号</div>
            <div class="fontclass">.icon-zhuyuan</div>
        </li>

        <li>
            <i class="icon iconfont icon-msnui-portal"></i>
            <div class="name">门户</div>
            <div class="fontclass">.icon-msnui-portal</div>
        </li>

        <li>
            <i class="icon iconfont icon-qimanshijian"></i>
            <div class="name">期满时间</div>
            <div class="fontclass">.icon-qimanshijian</div>
        </li>

        <li>
            <i class="icon iconfont icon-ryda"></i>
            <div class="name">人员档案</div>
            <div class="fontclass">.icon-ryda</div>
        </li>

        <li>
            <i class="icon iconfont icon-sms"></i>
            <div class="name">短信</div>
            <div class="fontclass">.icon-sms</div>
        </li>

        <li>
            <i class="icon iconfont icon-guanli1"></i>
            <div class="name">管理</div>
            <div class="fontclass">.icon-guanli1</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-rybd"></i>
            <div class="name">报到</div>
            <div class="fontclass">.icon-icon-rybd</div>
        </li>

        <li>
            <i class="icon iconfont icon-shezhi"></i>
            <div class="name">设置</div>
            <div class="fontclass">.icon-shezhi</div>
        </li>

        <li>
            <i class="icon iconfont icon-drug"></i>
            <div class="name">档案</div>
            <div class="fontclass">.icon-drug</div>
        </li>

        <li>
            <i class="icon iconfont icon-renyuanwenjianjia"></i>
            <div class="name">人员文件夹</div>
            <div class="fontclass">.icon-renyuanwenjianjia</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-xlzx"></i>
            <div class="name">赞服务_心理咨询</div>
            <div class="fontclass">.icon-icon-xlzx</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-xzr"></i>
            <div class="name">人员</div>
            <div class="fontclass">.icon-icon-xzr</div>
        </li>

        <li>
            <i class="icon iconfont icon-administration"></i>
            <div class="name">管理</div>
            <div class="fontclass">.icon-administration</div>
        </li>

        <li>
            <i class="icon iconfont icon-jifen"></i>
            <div class="name">积分</div>
            <div class="fontclass">.icon-jifen</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-qd"></i>
            <div class="name">签到</div>
            <div class="fontclass">.icon-icon-qd</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-dy"></i>
            <div class="name">微单页-文章</div>
            <div class="fontclass">.icon-icon-dy</div>
        </li>

        <li>
            <i class="icon iconfont icon-delete"></i>
            <div class="name">delete</div>
            <div class="fontclass">.icon-delete</div>
        </li>

        <li>
            <i class="icon iconfont icon-download"></i>
            <div class="name">download</div>
            <div class="fontclass">.icon-download</div>
        </li>

        <li>
            <i class="icon iconfont icon-user"></i>
            <div class="name">my_line</div>
            <div class="fontclass">.icon-user</div>
        </li>

        <li>
            <i class="icon iconfont icon-jiaoyu"></i>
            <div class="name">教育</div>
            <div class="fontclass">.icon-jiaoyu</div>
        </li>

        <li>
            <i class="icon iconfont icon-zhenhouguanaifuwu"></i>
            <div class="name">诊后关爱服务</div>
            <div class="fontclass">.icon-zhenhouguanaifuwu</div>
        </li>

        <li>
            <i class="icon iconfont icon-guanli"></i>
            <div class="name">管理</div>
            <div class="fontclass">.icon-guanli</div>
        </li>

        <li>
            <i class="icon iconfont icon-tongjifenxi"></i>
            <div class="name">统计分析</div>
            <div class="fontclass">.icon-tongjifenxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-gkw"></i>
            <div class="name">站外</div>
            <div class="fontclass">.icon-icon-gkw</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-ryjs"></i>
            <div class="name">接收</div>
            <div class="fontclass">.icon-icon-ryjs</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-lm"></i>
            <div class="name">栏目</div>
            <div class="fontclass">.icon-icon-lm</div>
        </li>

        <li>
            <i class="icon iconfont icon-guanxi"></i>
            <div class="name">关系</div>
            <div class="fontclass">.icon-guanxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-xl"></i>
            <div class="name">学历</div>
            <div class="fontclass">.icon-icon-xl</div>
        </li>

        <li>
            <i class="icon iconfont icon-punish"></i>
            <div class="name">审核</div>
            <div class="fontclass">.icon-punish</div>
        </li>

        <li>
            <i class="icon iconfont icon-25weiwangzhan"></i>
            <div class="name">25   微网站</div>
            <div class="fontclass">.icon-25weiwangzhan</div>
        </li>

        <li>
            <i class="icon iconfont icon-chuzhi"></i>
            <div class="name">违反规定-18px</div>
            <div class="fontclass">.icon-chuzhi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jtgx"></i>
            <div class="name">家庭新</div>
            <div class="fontclass">.icon-icon-jtgx</div>
        </li>

        <li>
            <i class="icon iconfont icon-yuandian"></i>
            <div class="name">原点</div>
            <div class="fontclass">.icon-yuandian</div>
        </li>

        <li>
            <i class="icon iconfont icon-daodashijian"></i>
            <div class="name">到达时间</div>
            <div class="fontclass">.icon-daodashijian</div>
        </li>

        <li>
            <i class="icon iconfont icon-selectmethod"></i>
            <div class="name">select_method</div>
            <div class="fontclass">.icon-selectmethod</div>
        </li>

        <li>
            <i class="icon iconfont icon-cebianlanshouqi1"></i>
            <div class="name">侧边栏收起</div>
            <div class="fontclass">.icon-cebianlanshouqi1</div>
        </li>

        <li>
            <i class="icon iconfont icon-cebianlanzhankai"></i>
            <div class="name">侧边栏展开</div>
            <div class="fontclass">.icon-cebianlanzhankai</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jfcx"></i>
            <div class="name">客房检查</div>
            <div class="fontclass">.icon-icon-jfcx</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-fx3"></i>
            <div class="name">分析</div>
            <div class="fontclass">.icon-icon-fx3</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jfdc"></i>
            <div class="name">家访慰问</div>
            <div class="fontclass">.icon-icon-jfdc</div>
        </li>

        <li>
            <i class="icon iconfont icon-duibifenxi"></i>
            <div class="name">对比分析</div>
            <div class="fontclass">.icon-duibifenxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-fx4"></i>
            <div class="name">分析</div>
            <div class="fontclass">.icon-icon-fx4</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-ylcx"></i>
            <div class="name">院内检查</div>
            <div class="fontclass">.icon-icon-ylcx</div>
        </li>

        <li>
            <i class="icon iconfont icon-department"></i>
            <div class="name">部门</div>
            <div class="fontclass">.icon-department</div>
        </li>

        <li>
            <i class="icon iconfont icon-guanli11"></i>
            <div class="name">管理1</div>
            <div class="fontclass">.icon-guanli11</div>
        </li>

        <li>
            <i class="icon iconfont icon-action"></i>
            <div class="name">行为画像</div>
            <div class="fontclass">.icon-action</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-dpfl"></i>
            <div class="name">肉毒素</div>
            <div class="fontclass">.icon-icon-dpfl</div>
        </li>

        <li>
            <i class="icon iconfont icon-shijian"></i>
            <div class="name">时间</div>
            <div class="fontclass">.icon-shijian</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-cstx"></i>
            <div class="name">已超时</div>
            <div class="fontclass">.icon-icon-cstx</div>
        </li>

        <li>
            <i class="icon iconfont icon-yingyongzhongxin"></i>
            <div class="name">应用中心</div>
            <div class="fontclass">.icon-yingyongzhongxin</div>
        </li>

        <li>
            <i class="icon iconfont icon-menu"></i>
            <div class="name">菜单</div>
            <div class="fontclass">.icon-menu</div>
        </li>

        <li>
            <i class="icon iconfont icon-mokuai"></i>
            <div class="name">模块</div>
            <div class="fontclass">.icon-mokuai</div>
        </li>

        <li>
            <i class="icon iconfont icon-yun"></i>
            <div class="name">云</div>
            <div class="fontclass">.icon-yun</div>
        </li>

        <li>
            <i class="icon iconfont icon-peizhiguanli"></i>
            <div class="name">配置管理</div>
            <div class="fontclass">.icon-peizhiguanli</div>
        </li>

        <li>
            <i class="icon iconfont icon-auth"></i>
            <div class="name">权限</div>
            <div class="fontclass">.icon-auth</div>
        </li>

        <li>
            <i class="icon iconfont icon-shujudaochu-01"></i>
            <div class="name">数据导出-01</div>
            <div class="fontclass">.icon-shujudaochu-01</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-hf"></i>
            <div class="name">恢复</div>
            <div class="fontclass">.icon-icon-hf</div>
        </li>

        <li>
            <i class="icon iconfont icon-chusuodengji"></i>
            <div class="name">出所登记</div>
            <div class="fontclass">.icon-chusuodengji</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-qjcx"></i>
            <div class="name">查询</div>
            <div class="fontclass">.icon-icon-qjcx</div>
        </li>

        <li>
            <i class="icon iconfont icon-guanggao"></i>
            <div class="name">广告</div>
            <div class="fontclass">.icon-guanggao</div>
        </li>

        <li>
            <i class="icon iconfont icon-menzhenyishengzhan"></i>
            <div class="name">门诊医生站</div>
            <div class="fontclass">.icon-menzhenyishengzhan</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-nj"></i>
            <div class="name">尿液</div>
            <div class="fontclass">.icon-icon-nj</div>
        </li>

        <li>
            <i class="icon iconfont icon-kaohetongji"></i>
            <div class="name">考核统计</div>
            <div class="fontclass">.icon-kaohetongji</div>
        </li>

        <li>
            <i class="icon iconfont icon-group"></i>
            <div class="name">用户组管理</div>
            <div class="fontclass">.icon-group</div>
        </li>

        <li>
            <i class="icon iconfont icon-reg"></i>
            <div class="name">登记</div>
            <div class="fontclass">.icon-reg</div>
        </li>

        <li>
            <i class="icon iconfont icon-jinru1"></i>
            <div class="name">进入</div>
            <div class="fontclass">.icon-jinru1</div>
        </li>

        <li>
            <i class="icon iconfont icon-xitongpeizhi"></i>
            <div class="name">系统配置</div>
            <div class="fontclass">.icon-xitongpeizhi</div>
        </li>

        <li>
            <i class="icon iconfont icon-kfdj"></i>
            <div class="name">旁听人员登记</div>
            <div class="fontclass">.icon-kfdj</div>
        </li>

        <li>
            <i class="icon iconfont icon-fujin"></i>
            <div class="name">附近</div>
            <div class="fontclass">.icon-fujin</div>
        </li>

        <li>
            <i class="icon iconfont icon-weixin"></i>
            <div class="name">微信</div>
            <div class="fontclass">.icon-weixin</div>
        </li>

        <li>
            <i class="icon iconfont icon-state"></i>
            <div class="name">审核</div>
            <div class="fontclass">.icon-state</div>
        </li>

        <li>
            <i class="icon iconfont icon-shoujian"></i>
            <div class="name"> 收件</div>
            <div class="fontclass">.icon-shoujian</div>
        </li>

        <li>
            <i class="icon iconfont icon-tuichu"></i>
            <div class="name">退出</div>
            <div class="fontclass">.icon-tuichu</div>
        </li>

        <li>
            <i class="icon iconfont icon-fenxiang"></i>
            <div class="name">分享</div>
            <div class="fontclass">.icon-fenxiang</div>
        </li>

        <li>
            <i class="icon iconfont icon--fuwu-xianxing"></i>
            <div class="name">37-服务-线性</div>
            <div class="fontclass">.icon--fuwu-xianxing</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jjdq"></i>
            <div class="name">即将到期</div>
            <div class="fontclass">.icon-icon-jjdq</div>
        </li>

        <li>
            <i class="icon iconfont icon-kaohebaobiao"></i>
            <div class="name">考核报表</div>
            <div class="fontclass">.icon-kaohebaobiao</div>
        </li>

        <li>
            <i class="icon iconfont icon-zhongzhi"></i>
            <div class="name">终止</div>
            <div class="fontclass">.icon-zhongzhi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-fx5"></i>
            <div class="name">分析</div>
            <div class="fontclass">.icon-icon-fx5</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jydj"></i>
            <div class="name">登记变更</div>
            <div class="fontclass">.icon-icon-jydj</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-mhpz"></i>
            <div class="name">门户设置</div>
            <div class="fontclass">.icon-icon-mhpz</div>
        </li>

        <li>
            <i class="icon iconfont icon-heimingdan"></i>
            <div class="name">黑名单</div>
            <div class="fontclass">.icon-heimingdan</div>
        </li>

        <li>
            <i class="icon iconfont icon-xitongquanxian"></i>
            <div class="name">系统权限</div>
            <div class="fontclass">.icon-xitongquanxian</div>
        </li>

        <li>
            <i class="icon iconfont icon-yejifenxi"></i>
            <div class="name">业绩分析</div>
            <div class="fontclass">.icon-yejifenxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-web"></i>
            <div class="name">网站</div>
            <div class="fontclass">.icon-web</div>
        </li>

        <li>
            <i class="icon iconfont icon-file"></i>
            <div class="name">文件</div>
            <div class="fontclass">.icon-file</div>
        </li>

        <li>
            <i class="icon iconfont icon-avatar"></i>
            <div class="name">头像</div>
            <div class="fontclass">.icon-avatar</div>
        </li>

        <li>
            <i class="icon iconfont icon-log"></i>
            <div class="name">日志</div>
            <div class="fontclass">.icon-log</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-qdcx"></i>
            <div class="name">任务查询</div>
            <div class="fontclass">.icon-icon-qdcx</div>
        </li>

        <li>
            <i class="icon iconfont icon-ccgl-rukucaozuo-5"></i>
            <div class="name">入库</div>
            <div class="fontclass">.icon-ccgl-rukucaozuo-5</div>
        </li>

        <li>
            <i class="icon iconfont icon-ZHicon-"></i>
            <div class="name">人员</div>
            <div class="fontclass">.icon-ZHicon-</div>
        </li>

        <li>
            <i class="icon iconfont icon-fenxi"></i>
            <div class="name">分析</div>
            <div class="fontclass">.icon-fenxi</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-gnry"></i>
            <div class="name">最近来访</div>
            <div class="fontclass">.icon-icon-gnry</div>
        </li>

        <li>
            <i class="icon iconfont icon-system"></i>
            <div class="name">设置</div>
            <div class="fontclass">.icon-system</div>
        </li>

        <li>
            <i class="icon iconfont icon-yujing"></i>
            <div class="name">预警</div>
            <div class="fontclass">.icon-yujing</div>
        </li>

        <li>
            <i class="icon iconfont icon-chu"></i>
            <div class="name">出</div>
            <div class="fontclass">.icon-chu</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jyfx"></i>
            <div class="name">就业情况</div>
            <div class="fontclass">.icon-icon-jyfx</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-gwry"></i>
            <div class="name">我的拜访</div>
            <div class="fontclass">.icon-icon-gwry</div>
        </li>

        <li>
            <i class="icon iconfont icon-dengdai"></i>
            <div class="name">等待</div>
            <div class="fontclass">.icon-dengdai</div>
        </li>

        <li>
            <i class="icon iconfont icon-zonghechaxunguanli"></i>
            <div class="name">综合查询管理</div>
            <div class="fontclass">.icon-zonghechaxunguanli</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-knbz"></i>
            <div class="name">社会救助</div>
            <div class="fontclass">.icon-icon-knbz</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-jjbd"></i>
            <div class="name">未报到</div>
            <div class="fontclass">.icon-icon-jjbd</div>
        </li>

        <li>
            <i class="icon iconfont icon-icon-ryhf"></i>
            <div class="name">备份恢复</div>
            <div class="fontclass">.icon-icon-ryhf</div>
        </li>

        <li>
            <i class="icon iconfont icon-keyuanguanli"></i>
            <div class="name">客源分析</div>
            <div class="fontclass">.icon-keyuanguanli</div>
        </li>

        <li>
            <i class="icon iconfont icon-yuangongchaxunjiguanli"></i>
            <div class="name">员工查询及管理</div>
            <div class="fontclass">.icon-yuangongchaxunjiguanli</div>
        </li>

        <li>
            <i class="icon iconfont icon-ditu"></i>
            <div class="name">地图</div>
            <div class="fontclass">.icon-ditu</div>
        </li>

        <li>
            <i class="icon iconfont icon-shijian1"></i>
            <div class="name">时间</div>
            <div class="fontclass">.icon-shijian1</div>
        </li>

        <li>
            <i class="icon iconfont icon-fenxipinggu"></i>
            <div class="name">分析评估</div>
            <div class="fontclass">.icon-fenxipinggu</div>
        </li>

        <li>
            <i class="icon iconfont icon-wnjbd"></i>
            <div class="name">未尿检报到</div>
            <div class="fontclass">.icon-wnjbd</div>
        </li>

        <li>
            <i class="icon iconfont icon-wdqjf"></i>
            <div class="name">未定期家访</div>
            <div class="fontclass">.icon-wdqjf</div>
        </li>

        <li>
            <i class="icon iconfont icon-waszl"></i>
            <div class="name">未按时治疗</div>
            <div class="fontclass">.icon-waszl</div>
        </li>

        <li>
            <i class="icon iconfont icon-zhongzhidaihuifu"></i>
            <div class="name">中止待恢复</div>
            <div class="fontclass">.icon-zhongzhidaihuifu</div>
        </li>

        <li>
            <i class="icon iconfont icon-jldjs"></i>
            <div class="name">拘留待接收</div>
            <div class="fontclass">.icon-jldjs</div>
        </li>

        <li>
            <i class="icon iconfont icon-qjdjs"></i>
            <div class="name">强戒待接收</div>
            <div class="fontclass">.icon-qjdjs</div>
        </li>

        <li>
            <i class="icon iconfont icon-jiyajijiangdaoqi"></i>
            <div class="name">羁押即将到期</div>
            <div class="fontclass">.icon-jiyajijiangdaoqi</div>
        </li>

        <li>
            <i class="icon iconfont icon-juliujijiangchusuo"></i>
            <div class="name">拘留即将出所</div>
            <div class="fontclass">.icon-juliujijiangchusuo</div>
        </li>

        <li>
            <i class="icon iconfont icon-qiangjiejijiangchusuo"></i>
            <div class="name">强戒即将出所</div>
            <div class="fontclass">.icon-qiangjiejijiangchusuo</div>
        </li>

    </ul>
</div>
<script>
    $("li").click(function () {
       var icon =  $(this).find(".fontclass").text();
       icon = icon.substring(1,icon.length);
       $(layerDom).find("#icon").val(icon);
        $(layerDom).find("#menu-icon").addClass(icon);
        layer.close(iconIndex);
    })
</script>