<header class="category-filter layui-form">
   <!-- <div class="layui-form-item">
        <select name="category_filter" lay-filter="categoryFilter">
            <option value="0">全部文章</option>
            {volist name="categorys" id="category"}
            {present name="category.leaf"}
            <option value="{$category.id}" disabled>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
            {else/}
            <option value="{$category.id}"{eq name='Request.param.cid' value='$category.id'} selected{/eq}>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
            {/present}
            {/volist}
        </select>
    </div>
</header>-->
    <div class="layui-form-item">
        <option value="0">全部文章</option>
    </div>
<table class="layui-table">
    <thead>
    <tr>
        <td>文章编号</td>
        <td>文章标题</td>
        <td>更新时间</td>
        <td>文章状态</td>
        <td>管理操作</td>
    </tr>
    </thead>
    {present name='articles'}
    {volist name='articles' id='article'}
    <tr>
        <td>{$article.id}</td>
        <td>{$article.name}</td>
        <td>{$article.update_time}</td>
        <td class="layui-form">
            <input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="ON|OFF" data-id="{$article.id}"  value="1" {eq name="article.status" value="1"} checked{/eq}>
        </td>
        <td class="textalign">
            <a href="javascript:article.edit('{$article.id}');" class="layui-btn layui-btn-small btn-success">
                编辑
            </a>
            <a href="javascript:article.delete('{$article.id}');"  class="layui-btn layui-btn-small btn-danger">
                删除
            </a>
        </td>
    </tr>
    {/volist}
    {/present}
</table>
<div class="fr mt20">
    总记录数：{$articles->total()} {$articles->render()}
</div>
