<table class="layui-table">
    <thead>
    <tr>
        <td>文章编号</td>
        <td>文章标题</td>
        <td>文章来源</td>
        <td>发布人员</td>
        <td>更新时间</td>
        <td>已经发表</td>
        <td>文章状态</td>
        <td>管理操作</td>
        <td>是否发表</td>

    </tr>
    </thead>
    {present name='articles'}
    {volist name='articles' id='article'}
    <tr>
        <td width="6%">{$key+1}</td>
        <td>
            {if condition="$article.status == 1"}
                <a href="javascript:void(0)" onclick="common.detailed('{$article.id}','2')" class="articleDetail" >
                    {$article.name}
                </a>
            {else /}{$article.name}
            {/if}
        </td>
        <td>{$article.source}</td>
        <td>{$article.member.realname}</td>
        <td>
            {if condition="$article.tag eq '0'"}否
            {else /} 是
            {/if}
        </td>

        <td>{$article.update_time}</td>
        <td class="layui-form">
            <input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="ON|OFF" data-id="{$article.id}"  value="1" {eq name="article.status" value="1"} checked{/eq}>
        </td>
        <td class="textalign">
            <a href="javascript:article.edit('{$article.id}');" class="layui-btn layui-btn-small btn-success">
                编辑
            </a>
            <a href="javascript:article.delete('{$article.id}');"  class="layui-btn layui-btn-small btn-danger">
                删除
            </a>
        </td>
        <td class="textalign">
            {if condition="$article.tag eq '0'"}
                <a href="javascript:article.share('{$article.id}');"  class="layui-btn layui-btn-small btn-danger">
                    发表
                </a>
            {/if}
        </td>
    </tr>
    {/volist}
    {/present}
</table>
<div class="fr mt20">
    总记录数：{$articles->total()} {$articles->render()}
</div>
