{extend name="public/base" /}
{block name="kr-passport"}
<div id="particles-js" data-bg="__UPLOAD__/{$siteOption.site_login_bg}"></div>
<div id="kr-passport" class="pr">
    <div class="passport-login pa">
        <div class="login-box p10 pr">
            <h1 class="f20 tc">{$siteOption.site_name}</h1>
            <form class="layui-form m20">
                <div class="layui-form-item">
                    <input type="text" name="username" lay-verify="username" placeholder="请输入用户名" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" lay-verify="password" placeholder="请输入密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="verification" name="verification" lay-verify="verification" placeholder="请输入验证码" class="layui-input">
                </div>
                <div class="refreshVerify"><img id="verify_img" src="{:captcha_src()}" alt="验证码">
                    <a href="javascript:refreshVerify()">点击刷新</a>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                    <a href="javascript:passport.register();"  class="layui-btn layui-btn-small btn-danger">
                        注册
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="page-script"}
{js href="__ADMIN__/particles.min.js" /}
<script>
    var bg = $("#particles-js").attr("data-bg");
    bg = bg.replace(/\\/g, "/");
    $("#particles-js").css("background-image","url(" + bg + ")");
</script>
<script>
    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        $('#verify_img').attr("src", "/captcha?id="+ts);
    }
</script>
{/block}